<a href="https://colab.research.google.com/github/markaburns/PythonAnalyticsFinal/blob/main/Python_finalproject_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas
import matplotlib.pyplot
spotifydf=pandas.read_csv('https://raw.githubusercontent.com/markaburns/PythonAnalyticsFinal/main/spotifydataset_truncated.csv')
spotifydf.describe()

,Unnamed: 0,popularity,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000
mean,399.000000,43.792240,214998.244055,0.550100,0.429233,4.898623,-9.526700,0.813517,0.042627,0.574739,0.037337,0.153777,0.410696,119.100116,3.881101
std,230.795725,17.314919,53737.985973,0.119262,0.233201,3.570414,3.771886,0.389740,0.025163,0.326705,0.155763,0.107030,0.218540,29.583613,0.430225
min,0.000000,0.000000,60306.000000,0.223000,0.027000,0.000000,-28.276000,0.000000,0.023200,0.000011,0.000000,0.028400,0.041900,53.845000,1.000000
25%,199.500000,31.000000,179356.000000,0.466000,0.254000,2.000000,-11.485500,1.000000,0.030400,0.272000,0.000000,0.100000,0.235000,94.964500,4.000000
50%,399.000000,49.000000,215746.000000,0.559000,0.384000,5.000000,-9.106000,1.000000,0.035200,0.702000,0.000003,0.114000,0.361000,117.875000,4.000000
75%,598.500000,55.000000,245866.500000,0.636500,0.606500,8.000000,-6.745000,1.000000,0.044900,0.861000,0.000211,0.159000,0.552000,139.926000,4.000000
max,798.000000,82.000000,447306.000000,0.829000,0.974000,11.000000,-2.244000,1.000000,0.403000,0.992000,0.978000,0.944000,0.971000,204.961000,5.000000